.container {
  width: 650px;
  height: 700px;
  border: 2px solid black;
  display: block;
  margin: 30px auto;
  border-radius: 5px;
  font-family: "Roboto";
}

.searchArea {
  display: block auto;
  margin-top: 10px;
  margin-left: 100px;
  justify-content: space-between;
  align-items: center;
}
.locationSearch,
.livelocation {
  margin-left: 10px;
}
.currentWeatherIcon {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}
h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0 auto;
}

.temp a {
  margin-top: 20px;
  font-size: 30px;
}

.degree {
  position: absolute;
  z-index: 1; /* put .green-box above .dashed-box */
  width: 20%;
  left: 52%;
  top: 280px;
  color: green;
  font-size: 20px;
}

.description,
.time,
.currentDay {
  font-weight: bold;
}

.locationSearch,
.livelocation {
  margin-left: 10px;
  cursor: pointer;
}

.locationSearch:hover,
.livelocation:hover {
  background-color: #0056b3;
}

.locationSearch {
  background-color: #007bff;
  color: #fff;
}

.livelocation {
  background-color: #28a745;
  color: #fff;
}
.footerLink {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin: 1px;
  line-height: 1px;
}

.liveDescription {
  text-transform: capitalize;
}
